body {
  padding: 0 2%;
  color: white;
  background-color: #1a1a1b;
  text-align: center;
}

h1 {
  padding: 20px 0;
  font-weight: 600;
}

.map-container {
  margin: auto;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  /* max-height: 1200px; */
  /* height: 80vh; */
}

button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  font-size: 16px;
}

#renderCanvas {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  max-height: 1200px;
  touch-action: none;
}
